.App-header {
  background-color: #222;
/*  height: 50px;*/
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: white;
}

.App-content {
  padding-left: 10px;
  color: grey;
  border-bottom: 1px solid;
  margin: 10px;
}

.button {
	float: right;
	width: 200px;
}